#showcase{
    background: linear-gradient(90deg, rgba(195,151,237,0.6533963927367823) 0%, rgba(140,168,242,0.5917717428768383) 55%, rgba(0,212,255,0.5945728633250176) 100%), url('https://cdn.sanity.io/images/9kdepi1d/production/adc5ba76d85bf2af717070a93e3dceabf2064b8d-5211x3070.jpg?w=2000&h=1178&fit=crop&fm=webp') center center;
}
#showcase p{
    max-width: 1008px;
}
.section p{
    max-width: 1008px;
}

#cont2 a{
    margin-top: 5vh;
    border: 2px solid #313131;
}
#cont2 a:hover{
    background-color: #313131 !important;
}
#cont2 p{
    font-size: 18px;
    width: 70%;
    margin: 0 15%;
}
#cont2, #cont3{
    font-weight: 200;
    box-sizing: border-box;
    padding: 10vh 0 !important;
}
#cont3
{
    background: linear-gradient(45deg, #66afd1, #e68bf1);
}

.glass{
    box-shadow: inset 0 0 100px rgba(255, 255, 255, 0.089);
    padding: 7vh 0;
    margin: 0 10%;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.021);
    backdrop-filter: blur(5px);
}
.glass p{
    font-size: 18px;
    width: 70%;
    margin: 0 15% 5%;
}
.glass a{
    transition: 0.3s ease-in-out;
    background-color: #F89420;
    color: white;
    font-weight: 500;
    padding: 15px 25px;
    border-radius: 50px;
}
.glass a:hover{
    background-color: white;
    color: #F89420;
}
#cont4 {
    padding: 5vh 0;
    }
#cont4 .left{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 50%;
}
#cont4 .row{
    width: 70%;
    margin: 0;
    display: flex;
    flex-direction: row;
}
#cont4 .column{
    box-sizing: border-box;
    padding: 0 2%;
    padding-bottom: 3%;
    text-align: left;
    width: 50%;
}
#cont4 p{
    font-weight: 300;
    font-size: 1rem !important;
    margin: 0 0 !important;
}
#cont4 span{
    font-weight: 500;
}
#cont4 img{
    padding-right: 3%;
    width: 500px;
}
.section > h1{
    font-weight: 600;
    font-size: 2.25rem !important;
}
.line{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(195,151,237);
	background: linear-gradient(90deg, rgb(195, 151, 237) 0%, rgb(140, 167, 242) 55%, rgb(0, 213, 255) 100%);
}
.line p{
    margin: 0;
    padding: 2vh 0;
}
.line a{
    color: white;
    font-weight: 600;
}
.team{
    box-sizing: border-box;
    margin: 10vh 15vh;
}
.teamRow{
    min-width: 300px;
    flex-direction: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    padding: 30px 20px;
    background: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    width: 230px;
}
.card a{
    padding: 10px 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0);
    color: white;
}
.card p{
    font-weight: 200;
    font-size: 16px;

}
@media screen and (max-width: 1115px) {
	/* This hides the donate button if viewport width is smaller than 1115 pixels */
	#cont4 .row{
        flex-direction: column;
        width: 100%;
    }
    #cont4 .left{
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #cont4 .column{
        text-align: center;
        margin-left: 0%;
        padding: 0 5vw;
        padding-top: 3vh;
        width: 100%;
    }
    #cont4 img{
        padding: 0;
        width: 70%;
    }
}
