body{
    background-color: rgb(49, 49, 49);
    text-align: center;
}

/* Navbar */
.nav-item{
    margin:auto;
    
}
.nav-link{
    color: white;
    padding: auto 0px;
}
.first-nav{
    margin-left: 80px;
}
.last-nav{
    margin-right: 80px;
}