@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap%27");

body {
	background-color: rgb(49, 49, 49);
	text-align: center;
	font-family: "Poppins", sans-serif;
	color: white;
}
a {
	margin: auto;
	padding: 0;
}

/* Navbar */
.navbar-logo{
	height: 50px;
}
.navbar-nav {
	width: 70%;
	margin: auto;
}
header {
	font-size: 14px;
}
.nav {
	margin-top: 20px;
	margin-left: 12px;
}
.nav-item {
	margin: auto;
	padding: 0;
}
.nav-link {
	color: white;
	padding: 0;
	font-weight: 600;
}
.donate {
	margin-right: 30px;
}
.btn-info {
	border-radius: 50px;
	border-width: 0;
	height: 52px;
	width: 100px;
	font-weight: 800;
	margin: auto;
	margin-right: 15px;
}
.btn-info:hover {
	background-color: rgb(255, 255, 255);
}
/* Footer Area */
li {
	list-style: none;
}
a {
	text-decoration: none;
}
footer {
	padding: 7vh 0;
	padding-bottom: 1px;
	background-color: #212529;
	text-align: left;
}
footer hr {
	width: 70%;
	margin-left: 15%;
	color: rgb(184, 184, 184);
}
.footerRow {
	padding: 2vh 0;
	margin: 0% 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
footer img {
	width: 225px;
	height: 46px;
}
footer h3 {
	letter-spacing: 1px;
	color: rgb(211, 211, 211);
	font-weight: 600;
	font-size: 16px;
}
footer .column {
	width: 25%;
}
footer li a {
	line-height: 200%;
	font-size: 15px;
	color: rgb(145, 145, 145);
	font-weight: 400;
}
footer li a:hover {
	color: rgb(219, 219, 219);
}
.footer-logo{
	margin-left: auto;
}
.divider{
	margin-left: 10%;
	margin-right: 10%;
}

.divider hr{
	width: 100%; 
	margin:0;
}

.addressRow {
	margin: 20px 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: relative;
}
address {
	font-size: 14px;
	color: rgb(182, 182, 182);
	font-weight: 300;
	letter-spacing: 0.5px;
	
}
address a {
	color: rgb(182, 182, 182);
	font-weight: 400;
	transition: 0.3s ease-in-out;
}
address a:hover {
	color: white;
}
footer svg {
	color: rgb(182, 182, 182);
	transition: 0.2s ease-in-out;
	width: 24px;
	height: 24px;
}
footer svg:hover {
	margin-top: -4px;
	color: rgb(245, 245, 245);
}
.social {
	display: flex;
	flex-direction: row;
}
.social a {
	padding: 0 14px;
	color: rgb(238, 238, 238);
}


/* ------------ Media Queries ------------ */
@media screen and (max-width: 992px) {
	#donate_button{
		/*Hide donation button if the screen is narrrower than 992px*/
		transform: scale(0);
	}
}

/* containers on page */
/* container 1 */

#cont1 {
	background-image: url(/images/home/home__hero_image.png);
	background-size: cover;
	background-position: center;
}

#cont1-grad{
	background: rgb(2,0,36);
	background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(246,132,1,0.8225665266106442) 51%, rgba(246,132,1,1) 100%);
}

#cont3 {
	background: linear-gradient(45deg, #66afd1, #e68bf1);
}

