@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap%27');

body{
    background-color: rgb(49, 49, 49);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

/* Navbar */
.nav{
    margin-top: 20px;
    margin-left: 12px;
}
.nav-item{
    margin:auto;
    padding: 0;
    
}
.nav-link{
    color: white;
    padding: 0;
    font-weight: 600;
}
.first-nav{
    margin-left: 80px;
}
.last-nav{
    margin-right: 80px;
}
.btn-info{
    border-radius: 30px;
    height: 55px;
    width: 100px;
    font-weight: 800;
    margin:auto;
}