#showcase{
    background: linear-gradient(90deg, rgba(195, 151, 237, 0.6533963927367823) 0%, rgba(140, 168, 242, 0.5917717428768383) 55%, rgba(0, 212, 255, 0.5945728633250176) 100%), url(https://cdn.sanity.io/images/9kdepi1d/production/9a4c2d83e787ed4669b125bd1f02d8afff146646-2798x1574.png?w=1000&h=563&fit=crop) center center;
    background-size: cover;
    padding: 50px;
}
#showcase img{
    padding: 10px;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    background: white;
}
#showcase p{
    max-width: 1008px;
}

#cont2 .row{
    display: flex;
}

#cont2{
    padding: 80px 100px;
}
#cont2 div{
    margin: 20px 0;
}
#cont2 p{
    margin: 30px 0;
}

#cont3{
    background: linear-gradient(45deg, #66afd1, #e68bf1);
    padding: 50px;
}
#cont3 p{
    max-width: 1008px;
}

#cont4 .left{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 50%;
}
#cont4 .row{
    width: 70%;
    margin: 0;
    display: flex;
    flex-direction: row;
}
#cont4 .column{
    box-sizing: border-box;
    padding: 0 2% 3%;
    text-align: left;
    width: 50%;
}
#cont4 p{
    font-weight: 300;
    font-size: 1rem !important;
    margin: 0 0 !important;
}
#cont4 img{
    padding-right: 3%;
    width: 440px;
    height: 250px;
}
#cont4 ul, li{
    list-style-type: circle;
    color: white;
}
#cont4 ul li a{
    color: white;
    text-decoration: underline;
}
#cont4 ul li a:hover{
    color: rgb(253, 198, 154);
}