.esitlik-list{
    color: black;
}
.esitlik-list li{
    background-color: white;
    display: inline-block;
    width: 30%;
}
.esitlik-list li h1{
    padding: 20px 0 5px 10px;
    /* top right bottom left */
    
}
.esitlik-list li p{
    padding: 0 10px 15px 10px;
    color: black;
    /* top right bottom left */
    margin: 0;
}
#esitlik_1{
    border-radius: 30px 0 0 30px;
}

#esitlik_3{
    border-radius: 0 30px 30px 0;
}

@media screen and (max-width: 992px) {
    .esitlik-list li{
        background-color: white;
        display: block;
        width: 100%;
        margin-top: 5px;
    } 
    #esitlik_1{
        border-radius: 30px 30px 0 0;
    }
    
    #esitlik_3{
        border-radius: 0 0 30px 30px;
    }
    #cont5 ul li{
        display: block;
    }
}

#showcase{
    background-size: cover;
    background-position: center center;
    max-height: 570px;
    background-image: linear-gradient(90deg, rgba(195,151,237,0.6533963927367823) 0%, rgba(140,168,242,0.5917717428768383) 55%, rgba(0,212,255,0.5945728633250176) 100%), url(../images/home/home__hero_image.png);
}

#cont2
{
    height: 80vh;
}
#cont2 .column{
    background-color: white;
    color: rgb(17, 17, 17);
    border-radius: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
    margin: 0 2%;
    justify-content: space-between;
}

#cont2 .column h2{
    font-size: 23px;
    padding: 20px 0;
}
#cont2 .column p{
    font-weight: 300;
    font-size: 15px;
}
#cont2 img{
    width: 160px;
}
#cont2 .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    overflow: hidden;
    margin: 50px 0;
}
#cont2 a{
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(195,151,237);
    background: linear-gradient(90deg, rgba(195, 151, 237, 0.877), rgba(140, 167, 242, 0.808), rgba(0, 213, 255, 0.788));
    transition: 0.5s ease-in-out;
}
#cont2 a:hover{
    color: rgb(195,151,237);
    background: white;
    border: 2px solid rgb(195,151,237);
}

#cont3 {
    background: linear-gradient(45deg, #66afd1, #e68bf1);
    height: 50vh;
}

#cont4{
    padding: 0;
    background: rgb(31, 31, 31);
}

#cont5{
    background: linear-gradient(45deg, #66afd1, #e68bf1);
}

#cont6 p{
    margin-bottom: 30px;    
}

#cont6 h1{
    margin-bottom: 20px;
    padding-bottom: 0;
}

#cont6 div{
    background-color: white;
    padding: 10px;
    border-radius: 30px;
}

#cont6 li{
    padding: 10px;
    display: inline-block;
}
#cont6 ul{
    margin: auto;
}