#showcase{
    background-image: linear-gradient(90deg, rgba(195,151,237,0.6533963927367823) 0%, rgba(140,168,242,0.5917717428768383) 55%, rgba(0,212,255,0.5945728633250176) 100%), url(https://cdn.sanity.io/images/9kdepi1d/production/e3f6db9148380028b998de3404968cda47c5c7bf-4032x3024.jpg?w=1000&h=750&fit=crop);
    background-position: left;
    background-size: cover;
    height: 570px;
}

#showcase img{
    padding: 10px;
    width: 160px;
    height: 60px;
    border-radius: 10px;
    background: white;
}

#cont3{
    background: #282828;
}

.flex-container {
    display: flex;
}

.flex-child {
    margin: 50px 0;
    flex: 1;
    max-width: 440px;
}

.flex-child:first-child {
    margin-right: 20px;
}

#cont3 ul{
    text-align: left;
    margin-top: 20px;
}

#cont3 li{
    list-style-type: circle;
    margin-bottom: 10px;
}

#cont4 p{
    max-width: 1008px;
    font-size: 14px;
    font-weight: 400;
}

#cont4 a{
    text-decoration: underline;
    color: white;
}

#cont4 a:hover{
    color: rgb(253, 198, 154);
}

#cont5{
    background: linear-gradient(45deg, #66afd1, #e68bf1);
}

#cont5 p{
    font-size: 14px;
    font-weight: 400;
}

#cont5 a{
    text-decoration: underline;
    color: white;
}

#cont5 a:hover{
    color: rgb(253, 198, 154);
}

#cont6 img{
    padding: 0;
    width: 150px;
    height: 75px;
    border-radius: 10px;
}
