#cont1{
    background-image: linear-gradient(90deg, rgba(195,151,237,0.6533963927367823) 0%, rgba(140,168,242,0.5917717428768383) 55%, rgba(0,212,255,0.5945728633250176) 100%), url(https://cdn.sanity.io/images/9kdepi1d/production/6731e2636c8fe0494e49fff12b123dfe9542bbee-2832x1388.jpg);
    background-position: left;
    background-size: cover;
}

#cont2 a{
    color: white;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid rgb(255, 255, 255);
    background: rgb(195,151,237);
    background: linear-gradient(90deg, rgba(195, 151, 237, 0.877), rgba(140, 167, 242, 0.808), rgba(0, 213, 255, 0.788));
    transition: 0.5s ease-in-out;
}
#cont2 a:hover{
    color: rgb(195,151,237);
    background: white;
    border: 2px solid rgb(195,151,237);
}

#cont3{
    background: rgb(29, 29, 29);
    height: auto;
    padding-bottom: 30px;
    text-align: left;
}

.card-list li{
    color: black;
    list-style-type: none;
}
.card-list u{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.card-list a{
    text-decoration: none;
    color: #000;
}

.card-list p{
    color: black;
}

#cont4{
    background: linear-gradient(90deg, rgba(195, 151, 237, 0.877), rgba(140, 167, 242, 0.808), rgba(0, 213, 255, 0.788));
}

